*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}


body{
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #fff;
}


h1,h2,h3,h4{
    font-weight: 500;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

.container{
   
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.section{
    padding: 5rem 0;
    color: #000;
}

.title{
    margin-bottom: 5rem;
    text-align: center;
}

/* HEADER ----------------------------------------------------------------------------- */ 

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image:url('https://i.ibb.co/KrPbPyL/header-banner.jpg');
    background-size: cover;
    background-position: center;
    z-index: 9999;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
}

 .fix-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1;
}

.fix-nav .nav-link:link,
.fix-nav .nav-link:visited{
    color: #222;
}

.fix-nav .logo h1{
    color: #222;
}

.fix-nav .hamburger{
    color: #222;
}



/* NAV */

.navigation{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 3rem;
    color: #fff;
}

.top-nav{
    display: none;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited{
   color: #fff;
   padding: 0.8rem 1rem;
   transition: all 300ms ease-in-out;
}

.nav-link:hover{
    border-radius: 0.3rem;
    background-color: #fff;
    color: #000;
}

.hamburger{
    display: none;
}



/* HERO */

.hero{
    position: relative;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.hero .content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}

.hero h1{
    font-weight: 500;
    font-size: 5rem;
}

.hero a:link,
.hero a:visited{
    display: inline-block;
    padding: .8rem 2.5rem;
    border: 1px solid #fff;
    margin-top: 2rem;
    color: #fff;
    transition: all .3s;
}

.hero a:hover{
  background-color: #fff;
  color: #000;
}



/* ABOUT ---------------------------------------------------------------------------- */


.about{
    color: #000;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 3rem;
}

.title h1{
position: relative;
display: inline-block;
font-size: 4rem;
}

  .title h1::after{
      content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%,-50%);
    width: 60%;
    height:.4rem;
    background-color: #000;
    }

    .title p{
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .left ,.right{
        margin:5rem 0;
    }

   .about .left p {
        margin-top: 2rem;
        line-height: 1.7;
    }

    .about .right img{
        height: 40rem;
        object-fit: cover;
    }


    /* MENU SECTION */

    .menu-center{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .menu-box{
        max-width: 40rem;
        margin: 0 auto;
        padding: 1.6rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
    }

    .menu-box img{
        height: 30rem;
        object-fit: cover;
    }

    .menu-box p{
        padding: 1.6rem 0;
        font-size: 1.8rem;
    }


    /* CHEFS */

    .chefs{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 3rem;
    }

    .chef img{
        height: 30rem;
        object-fit: cover;
    }

    /* TESTIMONIAL */

    .testimonial{
        position: relative;
        background: url('https://i.ibb.co/vP0qrnD/testimonial-bg.jpg') center/cover no-repeat fixed ;
        }

        .testimonial::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            z-index: -1;
        }

        .testimonial-center{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 3rem;
        }

        .test-box{
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
            padding: 3rem 1.6rem;
            text-align: center;
        }

        .test-box .img-cover{
            height: 10rem;
            width: 10rem;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 1.6rem;
        }

        .test-box .img-cover img{
            object-fit: cover;
            height:100%;
        }

        .test-box p{
            font-style: italic;
            color: #666;
            width: 90%;
            margin-bottom: 1.6rem;
        }

        .test-box span{
            color: aquamarine;
        }

        .contact-center{
            display: grid;
            grid-template-columns: 1fr 1.4fr;
            gap: 3rem;
        }

        .form{
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            padding: 6rem 4rem;
            border-radius: 0.5rem;
            max-width: 40rem;
        }

        .form h2{
            font-size: 2rem;
            margin-bottom: 1.6rem;
        }

        .form input,
        .form textarea{
            font-family: "Poppins",sans-serif;
            display: block;
            width: 100%;
            text-indent: 1rem;
            border: 1px solid #999;
            padding: 1rem 0;
            margin-bottom: 1.6rem;
        }

        .form textarea{
            height: 10rem;
            max-width: 32rem;
        }

        .form input:focus,
        .form textarea:focus{
            outline: none;
        }

        .form a {
            display: inline-block;
            padding: .7rem 2.5rem;
            background-color: royalblue;
            color: #fff;
        }

        .footer {
           text-align: center;
           padding: 1.6rem 0;
           color: black;
        }

        .footer span{
            color: royalblue;
        }

        













